/* regole generali */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
}
.container{
 width: 92%;
 margin: 0 auto;
}
section {
  margin:100px auto;
}
/* regole per sezione header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  padding: 25px 0;
  background-image: url("../img/jumbotron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
/* header nav */
.logo {
  width:15%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center_menu {
  width: 75%;
}
.center_menu a {
  font-size:16px;
  color:#fff;
  text-decoration: none;
  font-family:sans-serif;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar  ul > li {
  list-style-type: none;
  margin:0 10px;
}
.right_menu {
  position: relative;
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  color:#fff;
}
.right_menu .fas.fa-search {
  transform: rotateY(180deg);
}
.counter{
  position: absolute;
  background: #40C4FF;
  padding: 1px 4px;
  border-radius: 100%;
  left: 52%;
  bottom: 45%;
  font-size: 12px;
}
/* jumbotron text */
.jumbotron {
  width: 80%;
  margin:auto;
  text-align: center;
}
.jumbotron > * {
  margin:50px;
  color:white;
}
.jumbotron h1 {
  font-size: 90px;
  font-family: 'Merriweather', serif;
  font-weight: revert;
}
.jumbotron p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color:#FFFFFFCC;
}
.jumbotron  .button {
  background-color: #40C4FF;
  width: 200px;
  height: 60px;
  margin: auto;
  line-height: 60px;
}
.jumbo_text > * {
  margin:50px;
}
.carousel > .fas.fa-circle{
  color:#CECECE;
  opacity: 0.5;
}
.carousel > .far.fa-dot-circle{
  color:#fff;
}
/* Inizio regole main */

/* Section 1 */

.section_1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1_box {
  width: 15%;
  background: #F2F8FC;
  border:1px solid #EFEFEF;
}

.section1_box > div:first-child {
  padding: 40px;
}
.section1_box > div:last-child{
  text-align: center;
  padding-bottom: 40px;
}

/* Section 2 */

.section_2_text > * {
  margin:20px;
}
.section_2_text > h1 {
  font-size: 40px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
}
.section_2_text > p {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.section_2_text > a {
  text-decoration: none;
  color:#40C4FF;
  font-family: 'Roboto', sans-serif;
}

/* TOP button */
.top_button {
  text-align: center;
  color: #fff;
  background: #40C4FF;
  height: 50px;
  width: 50px;
  padding: 5px;
  position: fixed;
  right: 0;
  z-index: 99;
  bottom:0;
  transform: translate(0,-50%);
}

/* Section 3 */

.section_3 {
  display: flex;
  margin:100px 0 0 0;
}
.section_3 > * {
  width: 50%;
}
.section_3_text h1 {
  font-size: 40px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
}
.section_3_text > p {
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  margin:30px 0;
}
.section_3_numbers{
  display: flex;
  justify-content: flex-start;
  margin:50px auto;
  color:#40C4FF;
}
.section_3_numbers > div > h2 {
  font-size: 50px;
  font-family: 'Merriweather', sans-serif;
}
.section_3_numbers > div > p {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Merriweather', sans-serif;
}
.section_3_numbers > div:last-child {
  margin-left: 150px;
}

/* Section 4 */
.logo_section_4 {
  width: 150px;
}
.section_4 {
  background-image: url("../img/h5-parallax-img-1.png");
  background-position-x: center;
  height: 635px;
}
.section_4_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section_4_text > *{
  text-align: center;
  color:#FFFFFFCC;
}
.section_4_text > p {
  margin: 50px auto;
  font-size: 20px;
  font-family: 'Merriweather', sans-serif;
}
.section_4_text > h2 {
  margin:20px auto;
  font-family: 'Merriweather', sans-serif;
  font-size: 30px;
  color:#fff;
}
.section_4_carousel > i{
  margin-top:40px;
}
.section_4_carousel > i:first-child,
.section_4_carousel > i:last-child{
  color:#E5E5E5;
  margin:0 10px;
}
.section_4_carousel > i {
  color:#FFFFFF;
}


/* Section_5 */

.section_5 {
  position: relative;
  display: flex;
  margin:150px auto;
}
.section_5_menu {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.section_5_box{
  width: 100%;
  height: 100px;
  background: #FFF;
  border: 1px solid #CECECE;
  text-align: left;
  line-height: 100px;
}
.section_5_menu > .section_5_box:first-child > div {
  border-left:10px solid #40C4FF;
  color:#40C4FF;
  background: #FBF9F9;
}
.section_5_menu > .section_5_box:nth-last-child(-n+5) {
  color:#847B7B;
}
.section_5_box p {
  padding-left: 30px;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
}
.section_5_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;
  width: 75%;
}
.section_5_text h1 {
  font-family: 'Merriweather', sans-serif;
  font-size:50px;
}
.section_5_text p {
  font-size:20px;
  font-family: 'Merriweather', sans-serif;
  color:#847B7B;
}
.section_5_text > .checked {
  display: flex;
  justify-content: flex-start;
}
.checked i{
  color:#40C4FF;
  margin-right: 15px;
}
.checked p {
  color:#847B7B;
  font-size: 20px;
}
.section_5_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}

/* Section 6 */

.section_6 {
  background-image: url("../img/background-pattern.jpg");
  padding: 100px 0;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
}
.section_6_top {
  text-align: center;
  width: 70%;
  margin:100px auto;
}
.section_6_top h1 {
  font-size: 40px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
}
.section_6_top > p {
  font-size: 17px;
  font-family: 'Merriweather', sans-serif;
  margin:15px 0;
  color:#847B7B;
}
.section_6_middle{
  display: flex;
  justify-content: center;
}
.section_6_box {
  width: 30%;
  margin:auto;
  border:1px solid #EFEFEF;
  background: #FBF9F9;
}
.section_6_title {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top:20px;
  padding: 10px;
}
.section_6_title h3 {
  font-size: 15px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
}
.section_6_box:nth-last-child(-n+1) > .section_6_title span {
  background: #40C4FF;
  padding: 2px 10px;
  border-radius: 30px;
}
.section_6_title > span {
  background: yellow;
  padding: 2px 10px;
  border-radius: 30px;
  color:#fff;
}
.section_6_text h3 {
  padding: 10px;
  font-family: 'Merriweather', sans-serif;
  font-size: 15px;
  color:#CECECE;
}
.section_6_text p {
  margin:20px auto;
  padding: 10px;
  font-size: 17px;
  font-family: 'Merriweather', sans-serif;
  color: #847B7B;
  line-height: 35px;
}

.section_6_user{
  padding: 10px;
}
.section_6_user .fas.fa-tag{
  transform: rotateY(180deg);
}
.section_6_user > * {
  margin-right: 10px;
  color:#B9B9B9;
}
.section_6_bottom  {
  text-align: center;
  padding-top:100px;
}

/* Section 7 */

.section_7 {
  background-image: url("../img/background-pattern.jpg");
  margin:100px auto;
}
.section_7_title{
  text-align: center;
  margin:100px auto;
}
.section_7_title p {
  margin:20px auto;
  padding: 10px;
  font-size: 17px;
  font-family: 'Merriweather', sans-serif;
  color: #847B7B;
}
.section_7_title h1 {
  font-size: 50px;
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
}
.table_top h1 {
  font-family: 'Merriweather', sans-serif;
}
.table_top p {
  font-size: 20px;
  font-weight: bold;
  color:#606264;
}
.table_top  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

#table_first .table_top {
  height: 300px;
  text-align: left;
  background: #FBF9F9;
}
#table_first .table_top h1 {
  font-size:35px;
  padding: 35px;
  font-family: 'Merriweather', sans-serif;
}
#table_first .table_box {
  text-align: left;
  padding-left: 30px;
}
#table_first .table_box span{
  font-size: 17px;
  font-family: 'Merriweather', sans-serif;
  font-weight: bold;
}
.table {
  display: flex;
  min-height: 800px;
}
.table_column {
  width: 25%;
}
.table_top {
  height: 250px;
  border:1px solid grey;
  text-align: center;
  background: #F2F8FC;
}

.table_box {
  height: 80px;
  border:1px solid grey;
  text-align: center;
  line-height: 80px;
  background: #FBF9F9;
  color:#847B7B;
}

.button_box{
  height: 100px;
  border:1px solid grey;
}

/* Section 8 */

.section_8{
  display: flex;
  margin:100px auto;
}
.section_8_img {
  width: 25%;
}

/* Footer */

footer {
  background: grey;
  height: 500px;
}
.footer_column{
  width: 25%;
}
.footer_nav {
  display: flex;
  padding:100px 0;
  height: 75%;
}
/* Footer 1 */

.footer1_img{
  width: 150px;
}
.footer1_info{
  display: flex;
  flex-direction: column;
}

/* credits */

.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  border-top: 1px solid lightgrey;
}
.credits_right > * {
  margin:auto 10px;
}
