/* regole generali */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
.container{
 width: 92%;
 margin: 0 auto;
}

/* regole per sezione header */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/jumbotron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 700px;
  padding: 25px 0;
}
/* header nav */
.logo {
  width:15%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center_menu {
  width: 75%;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar  ul > li {
  list-style-type: none;
  margin:0 10px;
}
.right_menu {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items:center;
}
/* jumbotron text */
.jumbotron {
  width: 80%;
  margin:auto;
  text-align: center;
}
.jumbotron > * {
  margin:50px;
  color:white;
}
.jumbotron h1 {
  font-size: 80px;
}
.jumbotron p {
  font-size: 20px;
}
.jumbotron button {
  background-color: lightblue;
  width: 150px;
  height: 50px;
}
.jumbo_text > * {
  margin:50px;
}

/* Inizio regole main */

/* Section 1 */

.section_1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:40px auto;
}
.section1_box {
  width: 15%;
  background: #F2F8FC;
  border:1px solid #EFEFEF;
  padding: 40px;
}
.section1_box > * {
  margin:10px 0;
  text-align: center;
}

/* Section 2 */

.section_2 {
  margin:50px auto;
}

.section_2_text > * {
  margin:20px;
}
.section_2_text > h1 {
  font-size: 40px;
}

/* Section 3 */

.section_3 {
  display: flex;
  margin:50px auto;
}
.section_3 > * {
  width: 50%;
}
.section_3_numbers{
  display: flex;
  justify-content: flex-start;
  margin:50px auto;
}

/* Section 4 */

.section_4 {
  background-image: url("../img/h5-parallax-img-1.png");
  background-position-x: center;
  height: 635px;
}
.section_4_items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.section_4_text > *{
  margin:25px auto;
  text-align: center;
}
.logo_section_4 {
  width: 150px;
}

/* Section_5 */

.section_5 {
  display: flex;
}
.section_5_menu {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.section_5_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 40px;
  width: 65%;
}
.section_5_box{
  width: 100%;
  height: 80px;
  background: lightblue;
  border: 1px solid gray;
  text-align: left;
  line-height: 80px;
  padding-left: 30px;
}
