<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Proj-html-vuejs Icademy</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>
  <body>

    <div id="app"> <!-- container principale -->

      <header> <!-- header navbar + jumbotron -->

        <nav class="container navbar"> <!-- navbar -->

          <div class="logo"> <!-- logo -->

            <img :src="logo" alt="">

          </div>
          <div class="center_menu"> <!-- navigation bar -->

            <ul>
              <li v-for="item in navBar">{{item.section}}</li>
            </ul>

          </div>
          <div class="right_menu"> <!-- contenitore search + checkout + hamburger menu -->

            <i class="fas fa-search"></i>
            <i class="fas fa-shopping-bag"></i>
            <i class="fas fa-bars"></i>

          </div>

        </nav>
        <div class="jumbotron"> <!-- jumbotron text -->

          <div class="jumbo_text">

            <h1>Contemporary Ideas</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

          </div>
          <button type="button" name="button">REGISTER NOW</button>

        </div>
        <div> <!-- carousel buttons -->

          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
          <i class="far fa-dot-circle"></i>

        </div>

      </header> <!-- fine header -->
      <main>

        <section> <!-- sezione 1 del main -->

          <div class="container section_1">

            <div class="section1_box" v-for="box in section1">
              <img :src="box.img" alt="">
              <p>{{box.text}}</p>
            </div>

          </div>

        </section>
        <section class="container section_2"> <!-- sezione 2 del main -->

          <div class="section_2_text"> <!-- testo "The Trusted Name"  -->

            <h1>The Trusted Name <br> for In-Home Tutoring.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="#">LEARN MORE</a>

          </div>
          <div> <!-- Img section 2 -->

            <img src="img/h5-img-1.jpg" alt="">

          </div>

        </section>
        <section class="container section_3"> <!-- sezione 3 del main -->

          <div> <!-- img mappamondo -->

            <img src="img/h5-img-2.jpg" alt="">

          </div>
          <div class="section_3_right"> <!-- testo + numeri -->

            <div class="section_3_text">

              <h1>Empowering <br>Children to Reach Their Potential.</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </div>
            <div class="section_3_numbers">

              <div>
                <h2>168</h2>
                <p>User Stories</p>
              </div>
              <div>
                <h2>347</h2>
                <p>Events</p>
              </div>

            </div>

          </div>

        </section>
        <section class=" section_4"> <!-- sezione 4 del main // section avrà un img di sfondo -->

          <div class="container section_4_items"> <!-- ci sarà un logo + testo con un carosello-->
            <div class="logo_section_4">

              <img src="img/testimonials-standard-2.png" alt="">

            </div>
            <div class="section_4_text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <h2>Joan Collins</h2>
              <h4>STUDENT</h4>

            </div>
            <div class="">

              <i class="fas fa-circle"></i>
              <i class="fas fa-circle"></i>
              <i class="fas fa-circle"></i>

            </div>

          </div>

        </section>
        <section> <!-- sezione 5 del main -->

          <div> <!-- menu stile dropdown  -->

          </div>
          <div> <!-- testo a lato del menu -->

          </div>
          <div> <!-- img probabilmente in position absolute -->

          </div>

        </section>
        <section> <!-- sezione 6 del main // testo + carosello + 3 blocchi centrali  -->

          <div> <!-- testo principale "Popular Online"-->

          </div>
          <div> <!-- blocco 1 -->

          </div>
          <div> <!-- blocco 2 -->

          </div>
          <div> <!-- blocco 3 -->

          </div>
          <div> <!-- carosello -->

          </div>

        </section>
        <section> <!-- sezione 7 del main -->

          <!-- TABELLA DA SETTARE CON ATTENZIONE -->

        </section>
        <section> <!-- sezione 8 del main // ci saranno i loghi messi al centro equidistanti -->

        </section>

      </main> <!-- fine main -->
      <footer> <!-- footer blocchi info + credits -->

        <nav> <!-- info & links footer -->

        </nav>
        <div> <!-- footer credits -->

        </div>

      </footer>

    </div> <!-- fine container principale -->

   <script type="text/javascript" src="js/script.js">
   </script>
  </body>
</html>
